<div th:fragment="FastInput">

    <form method="post" action="/CourseSelectionAdmin/add">
        <table class="tbllist">
            <tr>
                <td colspan="10">
                    添加课程
                </td>
            </tr>
            <tr>
                <th>
                    课程号
                </th>
                <th>
                    课程名
                </th>
                <th>
                    教师号
                </th>
                <th>
                    额定人数
                </th>
                <th>
                    学分
                </th>
            </tr>


            <tr>
                <td>
                    课程号：<input id="S_CourseNo" name="CourseNo" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    课程名：<input id="C_CourseNme" name="CourseName" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    教师号：<input id="S_CourseNo" name="TeacherNo" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    额定人数：<input id="S_CourseNo" name="capacity" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    学分：<input id="S_CourseNo" name="credit" style="width:120px;" type="text" value="" />
                </td>
            </tr>
        </table>
    <button type="submit">提交</button>
    </form>
</div>

<div th:fragment="AddUser">

    <form method="post" action="/CourseSelectionAdmin/addUser">
        <table class="tbllist">
            <tr>
                <td colspan="10">
                    添加用户
                </td>
            </tr>
            <tr>
                <th>
                    账号
                </th>
                <th>
                    密码
                </th>
                <th>
                    姓名
                </th>
                <th>
                    身份
                </th>
                <th>
                    性别
                </th>
                <th>
                    所在院系
                </th>
            </tr>


            <tr>
                <td>
                    <input id="U_Account" name="U_Account" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    <input id="U_Passwd" name="U_passwd" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    <input id="U_Name" name="U_Name" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    <select name="U_identity">
                        <option value="0">学生</option>
                        <option value="1">教师</option>
                        <option value="2">管理员</option>
                    </select>
                </td>
                <td>
                    <select name="U_Sex">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </td>
                <td>
                    <select name="U_Department">
                        <option value="计算机">计算机</option>
                        <option value="机自">机自</option>
                        <option value="文学院">文学院</option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">提交</button>
    </form>
</div>


<div th:fragment="EnlargeClass">

    <form method="post" action="/CourseSelectionAdmin/extend">
        <table class="tbllist">
            <tr>
                <td colspan="10">
                    扩课
                </td>
            </tr>
            <tr>
                <th>
                    课程号
                </th>
                <th>
                    教师号

                </th>
                <th>
                    扩充人数
                </th>
            </tr>


            <tr>
                <td>
                    课程号：<input id="S_CourseNo" name="CourseNo" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    教师号：<input id="S_CourseNo" name="TeacherNo" style="width:120px;" type="text" value="" />
                </td>
                <td>
                    扩充人数：<input id="number" name="number" style="width:120px;" type="text" value="" />
                </td>
            </tr>
        </table>
        <button type="submit">提交</button>
    </form>
</div>

<div th:fragment="blank"></div>