<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交页面</title>
</head>
<body>
    <form action="/CtrlViewCourse" method="post">
        <table>
            <tr>
                <td>课程号：<input type="text" name="ListCourse0.CID"></td>
                <td>教师号：<input type="text" name="ListCourse0.TNo"></td>
            </tr>
            <tr>
                <td>课程号：<input type="text" name="ListCourse1.CID"></td>
                <td>教师号：<input type="text" name="ListCourse1.TNo"></td>
            </tr>
            <tr>
                <td>课程号：<input type="text" name="ListCourse2.CID"></td>
                <td>教师号：<input type="text" name="ListCourse2.TNo"></td>
            </tr>
            <tr>
                <td>课程号：<input type="text" name="ListCourse3.CID"></td>
                <td>教师号：<input type="text" name="ListCourse3.TNo"></td>
            </tr>
            <tr>
                <td>课程号：<input type="text" name="ListCourse4.CID"></td>
                <td>教师号：<input type="text" name="ListCourse4.TNo"></td>
            </tr>
            <tr>
                <td>课程号：<input type="text" name="ListCourse5.CID"></td>
                <td>教师号：<input type="text" name="ListCourse5.TNo"></td>
            </tr>
        </table>
        <button type="submit" method="post">提交</button>
    </form>
</body>
</html>